
@using PagedList
@using PagedList.Mvc

@model IPagedList<MvcKutuphane1.Models.Entity.TBLKATEGORI>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Kategori Sayfası</h2>

<table class="table table-bordered">
    <tr>
        <th>Kategori ID</th>
        <th>Kategori Ad</th>
        <th>Sil</th>
        <th>Düzenle</th>
    </tr>
    @foreach (var ktgr in Model)
    {
        <tr>
            <td>@ktgr.ID</td>
            <td>@ktgr.AD</td>
            <td><a href="/Kategori/KategoriSil/@ktgr.ID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Kategori/KategoriGetir/@ktgr.ID" class="btn btn-warning">Düzenle</a></td>
        </tr>
    }
</table>
@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }))
<a href="/Kategori/KategoriEkle" class="btn btn-primary">Yeni Kategori Ekle</a>